# ==============================================================================
# .gitignore para Proyecto de Microelectrónica (LTspice + LaTeX + Python)
# UNMSM - FIEE | Leonardo Sait Yactayo Tolentino & Marco Antonio Arcila Santander
# ==============================================================================

# --- Archivos de simulación pesados y temporales de LTspice ---
*.raw
*.op.raw
*.fft
*.plt
*.log
*.net.bak
*.asc.bak

# --- Archivos temporales de compilación LaTeX ---
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# --- Archivos de Python ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.egg-info/
.venv/
env/
venv/

# --- Archivos del Sistema Operativo ---
Thumbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/
*.tmp
